SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/dayquest-development-backend
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=secret
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=dayquest_dev
PHPMYADMIN_PORT=8082
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_ENABLE_LAZY_LOAD_NO_TRANS=true
SPRING_JPA_OPEN_IN_VIEW=false
SPRING_OUTPUT_ANSI_ENABLED=ALWAYS
SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=250MB
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=250MB
MINIO_ACCESS_KEY=root
MINIO_SECRET_KEY=
MINIO_ENDPOINT=http://localhost:9000
SERVER_PORT=8011
VIDEO_PROCESSED_PATH=/opt/dayquestcdn/videos/processed/
VIDEO_UPLOAD_PATH=/opt/dayquestcdn/videos/unprocessed/
FFMPEG_PATH=ffmpeg
JWT_EXPIRATION=315569520000
JWT_SECRET=eaab0dbf99a9bc4eb5fdc7c4f3f5525e0cdec2c0e3762b5f69a378c104d03800a48e2d6755bba43e3ec85d4ba081c836310391cfff1858059aae425aaf42e04c19f4e679f13a703821b30ddf02a2cac2ed9fdc543becf75f8eca4ee700ae3bfa76fc05f819c51f6a282f01e137099516413dd74a7d918cc971f754b0ca54e78cd633d826b3bf35bd05a438beecf0513fc99c767505760983096255bbb11b85823d2a1b6160af512ae41c181e5aa11b29fe760f6e4b3dc83b1f20d996c1e37a29fa675ac7b6b4941c7b5ccb06fe0eace04076bbd52ddfb477b1106332712ce9c1c3670cf395652bfe2a309c0bdda396bc1fec7c54cf36305aedcbf9e128e102d2
SPRING_MAIL_HOST=smtp.zeptomail.eu
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=emailapikey
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIN_ALLOW_CIRCULAR_REFERENCES=true
SPRING_MAIN_ALLOW_BEAN_DEFINITION_OVERRIDING=true
PMA_HOST=postgres
PGADMIN_EMAIL=admin@dayquest.de
MINIO_RAW_VIDEOS_BUCKET=raw-videos
MINIO_VIDEOS_BUCKET=videos
MINIO_THUMBNAIL_BUCKET=thumbnails
PGADMIN_DEFAULT_EMAIL=admin@dayquest.de
PGADMIN_DEFAULT_PASSWORD=secret